
body, html {
  background: #000;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.home {
  background: #fff;
  color: #000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
